body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
header, footer {
    background-color: lightpink;
}
.site-title {
    color: darkorchid;
}
#my-image {
    box-shadow: 0 0 2px 1px black;
}
.hobbies {
    list-style-type: square;
}
.hobbies li:nth-child(odd) {
    background-color: lightblue;
}
a {
    text-decoration: none;
    background-color: lightgoldenrodyellow;
    border: 2px solid lightsalmon;
    padding: 5px 10px;
    color: palevioletred;
    transition: background-color 0.3s;
}
a:hover,
a:focus {
    background-color: lightgreen;
}