/* body */
body {
    margin-bottom: 10px;
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
.wrapper-image {
    background-color: #d4e3e1;
    margin: 0 250px;
    position: relative;
    z-index: 1;
    padding: 0; /* No padding for the image wrapper */
}
#lone-starfish-wide {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.header {
    position: relative;
    text-align: center;
}
.title-overlay-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3.5vw;
}

/* nav */
nav {
    margin-top: 20px;
    text-align: center;
}
nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
nav ul li {
    display: inline;
    margin: 0 120px;
    position: relative;
}
nav ul li a {
    font-size: 25px;
    text-decoration: none;
    color: black;
    position: relative;
}

/* the bars between the menu items */
nav ul li::before {
    content: '';
    border-left: 2px solid black;
    height: 3em; /* Adjust the height as needed */
    position: absolute;
    left: -120px; /* Adjust the position as needed */
    top: 50%;
    transform: translateY(-50%);
}
nav ul li:first-child::before {
    display: none;
}

/* main container */
.wrapper-main {
    background-color: #d4e3e1;
    margin: 0 250px;
    position: relative;
    z-index: 1;
    padding: 0 10px 60px 10px;
}

/* life of a starfish */
h2.extra-large-text {
    font-size: 25px;
    padding-top: 20px;
    margin-bottom: 20px;
}
#lone-starfish {
    width: 200px;
    height: auto;
}

/* Facts About Starfish */
h3.large-text {
    font-size: 22px;
    padding-top: 30px;
}
.float img {
    width: 200px;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}
clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.boxmodel ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 20px;
}

/* contact to learn more */
h4.large-text {
    font-size: 22px;
    margin-bottom: 20px;
    padding-top: 20px;
}

/* form */
form {
    border: solid black;
}
form label,
form textarea,
form button {
    margin: 10px;
}
form textarea {
    width: 98%;
    box-sizing: border-box;
}

/* would you like to visit the starfish */
h5.large-text {
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.boxtext {
    display: block;
    padding: 15px 10px 10px 10px;
}
.visit {
    display: inline-block;
    padding-left: 10px;
}
.visit input[type="radio"] {
    display: inline-block;
}
.visit label, input {
    padding-left: 2px;
}
form button {
    background-color: transparent;
    border: 2px solid black;
    padding: 10px 15px;
    margin-left: 20px;
}

/* footer */
footer {
    position: absolute;
    bottom: 5;
    right: 0;
    padding: 20px;
    padding-right: 40px;
}
